<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ASBC | Login</title>
        <link rel="stylesheet" href="/static/login.css">
        <link rel="stylesheet" href="/static/navbar.css">
        <script src="/static/htmx.min.js"></script>
    </head>
    <body>
        {{ template "navbar" }}
        <div class="login-container">
            <div class="login-box">
                <h1>ASBC</h1>
                <p class="subtitle">Your Student's Best Companion</p>

                <form hx-post="/api/login" method="POST" action="/api/login" hx-target="#warning-login">
                    <label for="username">Username</label>
                    <input name="username" type="text" id="username" placeholder="Enter your username" required>

                    <label for="password">Password</label>
                    <input name="password" type="password" id="password" placeholder="Enter your password" required>

                    <button type="submit">Login</button>
                </form>
                <div id="warning-login"></div>
                <p class="note">Don’t have an account? <a href="#">Sign up</a></p>
            </div>
        </div>

    </body>
</html>
