<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASBC | Register</title>
    <link rel="stylesheet" href="/static/register.css">
    <link rel="stylesheet" href="/static/navbar.css">
    <script src="/static/htmx.min.js"></script>
</head>
<body>
    {{ template "navbar" }}
    <div class="register-container">
        <div class="register-box">
            <h1>ASBC</h1>
            <p class="subtitle">A Student's Best Companion</p>

            <form hx-post="/api/register" method="POST" action="/api/register" hx-target="#warning-login">
                <label for="username">Username</label>
                <input name="username" type="text" id="username" placeholder="Enter your username" required>

                <label for="password">Password</label>
                <input name="password" type="password" id="password" placeholder="Enter your password" required>

                <button type="submit">Register</button>
            </form>
            <div id="warning-login"></div>
        </div>
    </div>
</body>
</html>
