<nav class="nav-bar">
    <h1>ASBC</h1>
    <div class="nav-links">
        <a href="#home">Home</a>
        <a href="#public-notes">Public Notes</a>
        <div id="navbar-user" hx-trigger="load" hx-get="/api/navbaruser">
            
        </div>
    </div>
</nav>
