body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #22223B;
    color: #F2E9E4;
    line-height: 1.6;
}

/* HEADER */
header {
    background-color: #4A4E69;
    text-align: center;
    padding: 60px 20px;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #F2E9E4;
}

header p {
    font-size: 1.2rem;
    color: #C9ADA7;
}

/* SECTIONS */
.container {
    width: 85%;
    margin: 0 auto;
    max-width: 1100px;
}

section {
    padding: 60px 0;
}

h2 {
    color: #C9ADA7;
    text-align: center;
    margin-bottom: 30px;
}

p, li {
    font-size: 1rem;
    color: #F2E9E4;
}

/* FEATURES */
.features ul {
    list-style: none;
    padding: 0;
}

.features li {
    background: #4A4E69;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
}

/* EXAMPLES */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card {
    background-color: #4A4E69;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    color: #F2E9E4;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.card h3 {
    color: #C9ADA7;
}

/* WHY SECTION */
.why ul {
    list-style: square;
    margin-left: 50px;
}

/* CALL TO ACTION */
.cta {
    background-color: #4A4E69;
    text-align: center;
    padding: 70px 20px;
    border-radius: 12px;
    margin-top: 40px;
}

.btn {
    display: inline-block;
    background-color: #C9ADA7;
    color: #22223B;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 8px;
    margin-top: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #F2E9E4;
    color: #22223B;
}

/* FOOTER */
footer {
    background-color: #22223B;
    color: #C9ADA7;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
}
