body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #22223b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.register-box {
    background-color: #4A4E69;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.register-box h1 {
    color: #F2E9E4;
    margin-bottom: 10px;
    font-size: 2.5em;
}
.subtitle {
    color: #C9ADA7;
    margin-bottom: 30px;
    font-style: italic;
}
form {
    text-align: left;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #22223b;
    font-weight: bold;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #9a8c98;
    border-radius: 4px;
    background-color: #f2e9e4;
    color: #22223b;
    box-sizing: border-box;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #C9ADA7;
    color: #22223B;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    
}
button:hover {
    background-color: #9a8c98;
}
